*{
    margin:0;
    padding:0;
}
.container{
    text-align:center;
    border:2px solid;
    width:500px;
    margin: 100px auto;
}
table{
    background-color:orange;
    margin-left:20px;
}
tr{
    background-color:red;
   
}
td{
    border:1px solid black;
    
    width: 150px;
    height:150px;
    text-align:center;
    font-size:50px;
    font-weight:900;
}
.hover-effect:hover{
    background-color:rgb(2, 255, 2);
    opacity:.4;
}
.hover-effect-neg:hover{
    background-color:rgb(255, 0, 0);
    opacity:.6;
}

.disable{
    pointer-events:none;
}

@keyframes bonkers {
    0% {background-color: rgb(2, 255, 2);}
    25% {background-color: rgb(47, 255, 238);}
    50% {background-color: rgb(2, 27, 255);}
    75% {background-color: rgb(204, 2, 255);}
    100% {background-color: rgb(255, 2, 2);}
}
.winning{
    opacity: .6;
    animation-name: bonkers;
    animation-duration:1s;
    animation-iteration-count: infinite;
}